
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img{
    height: 40px ;
    padding-left: 30px;
}

.navbar-nav li{
    padding:0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

.navbar{
    background: #fff;
}

.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
.navbar-toggle{
    border: none!important;
}

#slider{
    width: 100%;
}
.carousel-caption{
    top:50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    
}